/BlogIt/.vs/BlogIt/v16/.suo
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/db.lock
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide-shm
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide-wal
/BlogIt/BlogIt/bin/roslyn/csc.exe
/BlogIt/BlogIt/bin/roslyn/csc.exe.config
/BlogIt/BlogIt/bin/roslyn/csc.rsp
/BlogIt/BlogIt/bin/roslyn/csi.exe
/BlogIt/BlogIt/bin/roslyn/csi.exe.config
/BlogIt/BlogIt/bin/roslyn/csi.rsp
/BlogIt/BlogIt/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CodeAnalysis.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.CSharp.Core.targets
/BlogIt/BlogIt/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/BlogIt/BlogIt/bin/roslyn/Microsoft.Managed.Core.targets
/BlogIt/BlogIt/bin/roslyn/Microsoft.VisualBasic.Core.targets
/BlogIt/BlogIt/bin/roslyn/Microsoft.Win32.Primitives.dll
/BlogIt/BlogIt/bin/roslyn/System.AppContext.dll
/BlogIt/BlogIt/bin/roslyn/System.Collections.Immutable.dll
/BlogIt/BlogIt/bin/roslyn/System.Console.dll
/BlogIt/BlogIt/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
/BlogIt/BlogIt/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/BlogIt/BlogIt/bin/roslyn/System.Diagnostics.StackTrace.dll
/BlogIt/BlogIt/bin/roslyn/System.Globalization.Calendars.dll
/BlogIt/BlogIt/bin/roslyn/System.IO.Compression.dll
/BlogIt/BlogIt/bin/roslyn/System.IO.Compression.ZipFile.dll
/BlogIt/BlogIt/bin/roslyn/System.IO.FileSystem.dll
/BlogIt/BlogIt/bin/roslyn/System.IO.FileSystem.Primitives.dll
/BlogIt/BlogIt/bin/roslyn/System.Net.Http.dll
/BlogIt/BlogIt/bin/roslyn/System.Net.Sockets.dll
/BlogIt/BlogIt/bin/roslyn/System.Reflection.Metadata.dll
/BlogIt/BlogIt/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
/BlogIt/BlogIt/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/BlogIt/BlogIt/bin/roslyn/System.Security.Cryptography.Encoding.dll
/BlogIt/BlogIt/bin/roslyn/System.Security.Cryptography.Primitives.dll
/BlogIt/BlogIt/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/BlogIt/BlogIt/bin/roslyn/System.Text.Encoding.CodePages.dll
/BlogIt/BlogIt/bin/roslyn/System.Threading.Tasks.Extensions.dll
/BlogIt/BlogIt/bin/roslyn/System.ValueTuple.dll
/BlogIt/BlogIt/bin/roslyn/System.Xml.ReaderWriter.dll
/BlogIt/BlogIt/bin/roslyn/System.Xml.XmlDocument.dll
/BlogIt/BlogIt/bin/roslyn/System.Xml.XPath.dll
/BlogIt/BlogIt/bin/roslyn/System.Xml.XPath.XDocument.dll
/BlogIt/BlogIt/bin/roslyn/vbc.exe
/BlogIt/BlogIt/bin/roslyn/vbc.exe.config
/BlogIt/BlogIt/bin/roslyn/vbc.rsp
/BlogIt/BlogIt/bin/roslyn/VBCSCompiler.exe
/BlogIt/BlogIt/bin/roslyn/VBCSCompiler.exe.config
/BlogIt/BlogIt/obj/Debug/BlogIt.csproj.CopyComplete
/BlogIt/BlogIt/obj/Debug/BlogIt.csproj.FileListAbsolute.txt
/BlogIt/BlogIt/obj/Debug/BlogIt.csprojAssemblyReference.cache
/BlogIt/BlogIt/obj/Debug/BlogIt.dll
/BlogIt/BlogIt/obj/Debug/BlogIt.pdb
/BlogIt/BlogIt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BlogIt/packages/Antlr.3.5.0.2/.signature.p7s
/BlogIt/packages/Antlr.3.5.0.2/Antlr.3.5.0.2.nupkg
/BlogIt/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
/BlogIt/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
/BlogIt/BlogIt.Data/bin/Debug/BlogIt.DataModel.dll
/BlogIt/BlogIt.Data/bin/Debug/BlogIt.DataModel.dll.config
/BlogIt/BlogIt.Data/bin/Debug/BlogIt.DataModel.pdb
/BlogIt/BlogIt.Data/bin/Debug/EntityFramework.dll
/BlogIt/BlogIt.Data/bin/Debug/EntityFramework.SqlServer.dll
/BlogIt/BlogIt.Data/bin/Debug/EntityFramework.SqlServer.xml
/BlogIt/BlogIt.Data/bin/Debug/EntityFramework.xml
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.Data.csprojAssemblyReference.cache
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.csproj.CopyComplete
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.csproj.FileListAbsolute.txt
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.csproj.GenerateResource.cache
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.dll
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.Migrations.init.resources
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.pdb
/BlogIt/BlogIt.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.csprojAssemblyReference.cache
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.Migrations.UpdateUsersModel.resources
/BlogIt/BlogIt.Data/obj/Debug/BlogIt.DataModel.Migrations.UpdteUser.resources
/BlogIt/BlogIt/obj/Debug/BlogIt.csproj.GenerateResource.cache
/BlogIt/BlogIt/obj/Debug/BlogIt.Migrations.init.resources
/BlogIt/BlogIt/obj/Debug/BlogIt.Migrations.Updated.resources
/BlogIt/BlogIt/obj/Debug/BlogIt.Migrations.UpdateUsersModel.resources
/BlogIt/BlogIt/obj/Debug/BlogIt.Migrations.UpdteUser.resources
