/BlogIt/.vs/BlogIt/v16/Server/sqlite3/db.lock
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide-shm
/BlogIt/.vs/BlogIt/v16/Server/sqlite3/storage.ide-wal
