<!-- footer -->
<footer>
    <div class="container">
        <p>@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Blogs", "Blogs", "Home") | @Html.ActionLink("About Us", "About", "Home") | @Html.ActionLink("Contact Us", "Contact", "Home")</p>
        <div class="social">
            <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
        </div>
        <!-- copy right -->
        <!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
        <p class="copy-right">Copyright &copy; 2020 <a href="#">Bloger</a> | All rights reserved. </p>
    </div>
</footer>
