<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Bloger</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/assets/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/assets/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/Content/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Header")

        @RenderBody()

        @Html.Partial("_Footer")
    </div>
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="~/assets/Scripts/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/Scripts/bootstrap.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/assets/Scripts/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/assets/Scripts/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/Scripts/custom.js"></script>
</body>
</html>
