@model List<BlogIt.DataModel.Models.Blog>
@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->
<div class="banner">
    <div class="container">
        <!-- heading -->
        <h2>I'm Banner Heading for This Page</h2>
        <!-- paragraph -->
        <p>It is our belief that in order to be most efficient it requires adaptive technology and software our customers can focus on their core business.</p>
    </div>
</div>
<!-- banner end -->
<!-- after banner -->
<div class="after-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <h3>Focus on Systems</h3>
                    <!-- paragraph -->
                    <p>While our prices are competitive, it's the value that's unmatched.</p>
                    <br>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <h3>Plan of Action</h3>
                    <!-- paragraph -->
                    <p>While our prices are competitive, it's the value that's unmatched.</p>
                    <br>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <!-- after banner item -->
                <div class="ab-item">
                    <!-- heading -->
                    <h3>Quality Compliance</h3>
                    <!-- paragraph -->
                    <p>While our prices are competitive, it's the value that's unmatched.</p>
                    <br>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- after banner end-->
@Html.Partial("_Blog",Model)
<!-- subscribe -->
<div class="subscribe" id="subscribe">
    <div class="container">
        <!-- subscribe content -->
        <div class="sub-content">
            <h3>Subscribe Here for Updates</h3>
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Subscribe</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
</div>
<!-- subscribe end -->